[Desktop Entry]
Version=1.0
Type=Application
Name=Copiar
Comment=Copiar archivos de la versión en uso a la versión Beta
Exec=xterm -hold -e '~/Documentos/TrcIMPLAN/GitHub/beta/bin/Copiar.sh; echo "Script terminado. Ya puede cerrar esta terminal."'
Icon=media-skip-forward
Path=
Terminal=false
StartupNotify=false
