[Desktop Entry]
Version=1.0
Type=Application
Name=Destruir
Comment=Eliminar todos los archivos HTML
Exec=xterm -hold -e '~/Documentos/TrcIMPLAN/GitHub/beta/bin/Destruir.sh; echo "Script terminado. Ya puede cerrar esta terminal."'
Icon=user-trash
Path=
Terminal=false
StartupNotify=false
